$bg-color: #fffefe;
$bordertopOfAboutMeSection: #1c345e;
$container-color: #001b4a;
$container-gradient: radial-gradient(
	circle at 50% 50%,
	#001841,
	#001b4a,
	#1c345e
);
$titleHeight: 15vh;
$containerHeight: calc(100vh - #{$titleHeight * 1.5});

$font-size: 24px;
$font-stack: "Spectral SC", "Roboto Flex", sans-serif;
$font-color: #fffefe;

$imageHeight: calc(#{$containerHeight} - 80px);
$mainInformationSectionHeight: calc((#{$containerHeight} - #{imageHeight}));

$road-sign-image: url("@/assets/images/road-sign-image.webp");
$about-me-headline-image: url("@/assets/images/about_me_headline.webp");

$signature-color: #f0532a;

//media query-breakpoints
$smallSize: 501px;
$mediumSize: 1150px;
