@use "variables.scss";
@use "scrollbar.scss";
@use "mainInformation.scss";
@use "aboutMeSection.scss";

* {
	margin: 0;
}
body {
	background-color: variables.$bg-color;
	font: 100% variables.$font-stack;
	color: variables.$bg-color;
	#title {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: variables.$titleHeight;
		min-height: variables.$font-size;
		color: variables.$container-color;
		h1 {
			font-size: variables.$font-size;
			text-transform: uppercase;
			text-align: center;
			margin-top: 0;
		}
	}
	#container {
		position: absolute;
		margin-top: variables.$font-size;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 90%;
		max-width: 1200px;
		height: variables.$containerHeight;

		display: flex;
		flex-direction: column;
		align-items: center;

		font-size: small;
		background: variables.$container-gradient;
		box-shadow: 0px 0px 1.5px 1.5px #{variables.$bg-color};
		border-radius: 2px;
		overflow-x: hidden;
		overflow-y: auto;
	}

	@media (min-height: variables.$smallSize) {
		#container {
			top: 50%;
			width: 85%;
			#aboutMeSection {
				height: auto;
			}
			#mainInformation {
				height: auto;
				.road-sign-image {
					min-height: 250px;
				}
			}
		}
	}

	@media (min-width: variables.$mediumSize) {
		#container {
			flex-direction: row;

			#mainInformation {
				flex-basis: 40%;
				min-width: 300px;
				font-size: small;
				.road-sign-image {
					margin-top: 5vh;
					margin-bottom: 5vh;
					width: 70%;
					height: 50%;
					min-height: 200px;

					background-repeat: no-repeat;
					background-size: cover;
				}
			}
			#aboutMeSection {
				border-top: none;
				.description > ul > li:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	@media (min-width: 650px) {
		#container {
			font-size: 14px;
		}
	}
}
@media (min-width: 850px) {
	#container {
		font-size: 16px;
	}
}
