@use "variables";

* {
	margin: 0;
}

body {
	background-color: variables.$light-color;
	font: 100% variables.$font-stack;
	color: variables.$dark-color;
	#title {
		display: flex;
		justify-items: center;
		align-items: center;
		width: 100%;
		height: 15vh;
		min-height: variables.$font-size;
		h1 {
			font-size: variables.$font-size;
			text-transform: uppercase;
			margin: 0 auto;
		}
	}
}
